<h4>Schütze einen Manta! Hilf uns einen Manta zu adoptieren!</h4>
<p>Lasst uns zusammen aktiv etwas tun und zum Schutz dieser bedrohten Tiere beitragen!<b> </b></br>
Mit der Marine Megafauna Foundation Indonesia ist es möglich symbolisch einen Manta zu adoptieren.<br/>
Dafür dürfen wir den Manta benennen und bekommen regelmäßig updates über dieses Tier.<br/>
Mit dem Geld unterstützen wir aktiv die MMF, damit sie Ihre Arbeit zum Schutz der Manta fortsetzen können.<br/>
Weitere Info's kommen in der Session von Tim Noack auf dem Tauchertag! Vielen Dank für Euren Support!
</p> 

<form action="https://www.paypal.com/donate" method="post" target="_top" style="text-align: center;">
    <input type="hidden" name="hosted_button_id" value="WB5CD4B9667CA">
    <input type="image" src="https://pics.paypal.com/00/s/ODhmM2U0NjAtY2NhZS00Mjk2LWEyZTItOTU0MzgwMTk5NThl/file.PNG" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Spenden mit dem PayPal-Button">
    <img loading="lazy" alt="" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1">
</form>
