<h4> Anfahrt und Informationen zur Location</h4>

<p><strong>Mit den öffentlichen:</strong><br>
    Das Gelände der f.re.e ist direkt an die U-Bahn-Haltestelle Messestadt Ost angebunden.<br>
    Vom Hauptbahnhof erreichen Sie uns ohne Umsteigen in knapp 20 Minuten. Tickets können bei der Münchner Verkehrsgesellschaft (MVG), beim Münchner Verkehrsverbund (MVV) und über die Deutsche Bahn (DB) erworben werde (Tarifzone M).</br>
<strong> Mit dem Auto:</strong><br>
Die Messe München liegt direkt an der A94. Das Messegelände erreichen Sie über die Ausfahrten Feldkirchen-West (Ausfahrt Nr. 6) bzw. München-Riem (Ausfahrt Nr. 5).
Auf dem Gelände reguliert ein dynamisches Verkehrsleitsystem den Fahrzeugstrom. Es weist Sie zu den nächstgelegenen freien Parkplätzen während der Veranstaltung.<br>
<strong>(Es stehen vor Ort kostenpflichtige Parkmöglichkeiten bereit)</strong></br>
Weitere Informationen zur Anreise finden Sie hier: <a href="https://free-muenchen.de/de/messe/besuch-planen/anreise/" target="_blank">Anreise</a><br></p>
<hr class="azdevcom" />