<footer class="footer">
    
    <p>
        <small>Join us on Meetup.com: <a href="https://www.meetup.com/de-DE/azure-dev-munich/" title="Azure Dev Meetup Munich" target="_blank" rel="noopener">Azure Dev Meetup Munich</a> | on youtube: <a href="https://www.youtube.com/c/AzureDevMuc" title="Azure Dev Youtube" target="_blank" rel="noopener">Azure Dev Youtube</a> | on Twitter: <a href="https://twitter.com/azdevcom" title="@AzDevCom" target="_blank" rel="noopener">@AzDevCom</a></small>
    </p>
    <p>
        <a href="/en/imprint/" title="Imprint">Imprint</a> |
        <a href="/en/privacy/" title="Privacy">Privacy</a>
    </p>
    
</footer>
